@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'JetBrains Mono', monospace;
  font-size: 62.5%;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  -webkit-text-decoration: 2px underline;
          text-decoration: 2px underline;
}

input {
  font-family: 'JetBrains Mono', monospace;
}

input:focus {
  outline: none;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: 0;
  padding: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  color: #fff;
  font-size: 2.4rem;
  font-weight: normal;
  background-color: #2d3436;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.hint {
  position: fixed;
  width: 3rem;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  top: 5rem;
  right: 5rem;
}

.container {
  max-width: 120rem;
  padding: 4rem 5rem;
  border: 0.5rem solid #92a8bd;
  border-radius: 1rem;
  -webkit-box-shadow: 1rem 1rem 0px #92a8bd;
          box-shadow: 1rem 1rem 0px #92a8bd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
}

.profile {
  text-align: center;
}

.profile_avatar {
  border-radius: 1rem;
  overflow: hidden;
}

.profile_name {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5rem;
  color: #EBC5A0;
  margin-top: 2rem;
}

.profile_time {
  font-size: 2.8rem;
  color: #636E72;
  margin-top: 1rem;
  font-weight: 800;
}

.panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.panel_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.8rem;
}

.panel_search img {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.panel_search input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: transparent;
  border-width: 0;
  font-size: 2.4rem;
  line-height: 3.2rem;
  padding-bottom: 0.8rem;
  border-bottom: 3px solid #3B7FC0;
  color: #fff;
}

.panel_bookmark {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: 4rem;
  overflow: auto;
  border: 0.5rem solid #92a8bd;
  border-radius: 1rem;
  padding: 4rem 6rem;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 10rem;
          column-gap: 10rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.panel_bookmark-item {
  font-size: 2rem;
  position: relative;
}

.panel_bookmark-item::before {
  content: '»';
  position: absolute;
  right: 110%;
  opacity: 0;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
}

.panel_bookmark-item:hover {
  color: #EBC5A0;
}

.panel_bookmark-item:hover::before {
  right: 105%;
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */